@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

:root {
--font-family-1: "Macondo", sans-serif;
}
header h1  {
    font-family: 'Macondo', sans-serif;
    font-size: 200%;
    color:black;
}
h2 {
    font-family:'Macondo', sans-serif;
    color:rgb(14, 13, 13);
    z-index: 99;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(94, 6, 181, 0.5); 
    
}
h3 {
    font-family: 'Macondo', sans-serif;
    color: rgb(14, 13, 13);
     text-decoration: underline;
}
body {
    background-color: rgb(53, 4, 137);
}
nav {
    background-color: white;;
}
#References {
    background-color: white;
}
p {
    color:white;
}
footer .social-links a {
    color: black;
    text-decoration: none;
    padding-right:  50px;
    font-size:  200% !important;
    justify-content: center;
    align-items: center;


}
footer .social-links a:hover {
    color: rgb(90, 27, 206);
    text-decoration: none;
    
}
footer p{
    font-family: 'Macondo', sans-serif;
    color: rgb(9, 8, 8);
    text-align: center;
    padding: 10px;
    font-size:150%;
}
#References {
    background-color: rgb(229, 234, 234, 0.8);
    background: url("./images/pexels-markus-winkler-1430818-18465016.jpg") no-repeat center center/cover;
    padding: 20px;
    color: black;
}